/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; height:100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}

.flexslider li {position: relative;}

.flexslider li img {border-radius: 12px;}
	
.slider-text {position: absolute; min-height: 60px; bottom: 0; left: 62%; padding-bottom: 44px; box-sizing: border-box; color: white;}
.slider-title {font-size: 40px; line-height: 1; letter-spacing: -3px; text-transform: uppercase; font-weight: 700; color: #fff; }
a.slider-title:hover {color: #f5c423; text-decoration: none;}
.slider-desc { font-size: 18px; letter-spacing: -1px; color: #fff; line-height: 1.4; margin-top: 16px; position: relative; left: 67%;}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; display: block; position: absolute; bottom: 50px; right: 50px; z-index: 10; cursor: pointer; color: #fff; text-align: center; font-size: 30px; line-height: 1; visibility: hidden; }
.flex-direction-nav .flex-prev {right: 88px; visibility: hidden;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

.flex-direction-nav .flex-prev:before {
		content: 'Ò';
		font-family: 'Web Symbols', sans-serif;
		margin-right: 10px;
		text-decoration: none;
}

.flex-direction-nav .flex-next:before {
		content: 'Õ';
		font-family: 'Web Symbols', sans-serif;
		margin-right: 10px;
		text-decoration: none;
}

.flex-direction-nav .flex-prev:hover:before {
		content: 'Ó';
}

.flex-direction-nav .flex-next:hover:before {
		content: 'Ö';
}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 10px; text-align: center;}
.flex-control-nav li {margin: 0 6px; padding-inline: 4px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:hover {padding-bottom: 4px; border-bottom: 3px solid black;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; border: 2px solid black;}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default;}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 767px) {
  .flex-direction-nav .flex-prev {opacity: 0,8; left: 15px; margin-bottom: 15px; bottom: 50%; }
  .flex-direction-nav .flex-next {opacity: 0,8; right: 15px; margin-bottom: 15px; bottom: 50%; }
  .slider-desc { font-size: 12px; line-height: 1; letter-spacing: -1px; left:12%; margin-top: 5px; }
  .slider-title { font-size: 14px; line-height: 1; letter-spacing: -1px; right:5%; position: relative; }
  .slider-text { min-height: 0; padding-right: 60px; padding-top: 20px; padding-bottom: 40px; padding-left: 26px; width: 100%; position: absolute; }
}