.profile-desc, .sobreText{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: left;
}
.profile-name{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size:24px;
    color: #000; 
}
.profile-job{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #000;
}
.sessionTitle{  /* classe dos titulos grandes, como por exemplo  o Nome da Obra, Galeria e etc.  */
    font-size: 34px;
    font-weight: 900;
    font-family: Lato, sans-serif;
    text-align: center;
    color: #000;
}
.subtitleName{  /* classe dos subtitulos que acompanham a sessão */
    font-size: 18px;
    font-weight: 400;
}
.big-shadow{
    text-shadow: 0px 1px 45px #ffffff;
}
.medium-shadow{
    text-shadow: 0px 1px 40px #ffffff;
}
.little-shadow{
    text-shadow: 0px 1px 35px #ffffff;
}

/* --------- iPad Vertical --------- */

@media (min-width: 768px) and (max-width: 1199px) {
    .profile-desc, .sobreText{
        font-size: 14px;
    }
    .profile-name{
        font-size:20px; 
    }
    .profile-job{
        font-size: 16px;
    }
    .sessionTitle{
        font-size: 30px;
    }
    .subtitleName{
        font-size: 16px;
    }
    .big-shadow{
        text-shadow: 0px 1px 42px #ffffff;
    }
    .medium-shadow{
        text-shadow: 0px 1px 37px #ffffff;
    }
    .little-shadow{
        text-shadow: 0px 1px 32px #ffffff;
    }
}

/* --------- Mobile Phones --------- */
@media (max-width: 767px) {
    .profile-desc, .sobreText{
        font-size: 12px;
    }
    .profile-name{
        font-size:18px; 
    }
    .profile-job{
        font-size: 14px;
    }
    .sessionTitle{
        font-size: 28px;
    }
    .subtitleName{
        font-size: 14px;
    }
    .big-shadow{
        text-shadow: 0px 1px 37px #ffffff;
    }
    .medium-shadow{
        text-shadow: 0px 1px 32px #ffffff;
    }
    .little-shadow{
        text-shadow: 0px 1px 27px #ffffff;
    }
}
