html{
  scroll-behavior: smooth;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

#nav-img {
  width:164px;
}

#production {
  width:200px;
}

.texto-full{
  height: 100%; 
  width: 100%;
   white-space: pre; 
   text-align: left; 
   display: flex; 
   color:bisque;
   /* align-items: center; */
   /* font-family: setar */
   /* font-size: ; */
}
.gallery-title {
  color: black;
  font-weight: bold;
  position: relative;
  text-align: center;
  margin-left: -4px;
}
.div-gallery-title {
  border-bottom: 3px solid;
  width: 143px;
  left: 0;
  position: relative;
}

.div-datasheet-title {
  margin-top: 50px;
  padding-left: 15px;
  border-bottom: 3px solid;
  width: 280px;
}
.title-obra-box{
  flex-wrap: nowrap !important;
}

.share_icon_home {
  display: flex;
  position: auto !important;
  text-align: left;
  margin: 10px;
  /* left: 86%; */
  width: 2em;
  height: 2em;
  padding: 10px;
  font-size: 24px;
  bottom: 20%;
  color: #000 !important;
}
.obra-name{
  margin: auto;
  margin-top: 12px;
}
.autor-name{
  margin: auto;
}

.infos-datasheet{
  margin-inline: 40px;
  margin-top: 30px;
  display: flex;
}

.prod-assist-text{
  font-size:20px;
  font-weight: 900;
}
.prod-assist-text a{
  margin-left: 8px;
  font-size:20px;
  font-weight: 700;
}
.prod-assist-text p{
  margin-left:12px !important;
  margin-bottom:1px;
  font-size:20px;
  font-weight: 700;
}
.title-web{
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  color: #4E4E4E;
  margin-bottom:-10px
}
.name-web{
  width:97%;
  padding-left: 30px;
  padding-bottom: 20px;
  border-bottom: 3px solid;
}
#tec-web-expo-text{
  margin-bottom: -32px;
  margin-left:3px;
}
.name-web-text{
  margin-bottom: -10px;
  font-size: 62px;
  font-family: Lato, sans-serif;
  font-weight: 900;
  word-spacing: 8px;
  color: #000000;
  text-shadow: 0px 1px 60px #ffffff52;
}
.text-recomend{
  width: 300px;
}
.session-divisors{
  padding-bottom: 0;
}
.welcome-text{
  position: relative;
  left:-340px;
  top: 190px;
  z-index: 10;
  margin-top: -65px;
  max-width: 520px;
}
.profile-gallery {
  margin: 20px !important;
}

/* --------- Desktop --------- */
@media (min-width: 1200px) {

  div.arts_expo {
    width: 65%;
    position: relative;
    margin: auto;
  }
  div.figure {
    float: right;
    width: 100%;
    height: 100%;
    /* margin: 0.5em;
    padding: 0.5em; */
    text-align: center;
    background-color: black;
  }

  div.figure audio{
    margin-top: 50vh;
  }

  img.scaled {
    width: 100%;
    height: 100%;
  }

  .line {
    border-bottom: 2px solid #fff;
  }

  .user_arts {
    display: flex;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 2px;
  }

  .share_icon {
    display: flex;
    position: relative;
    text-align: left;
    margin: 10px;
    left: 46%;
    width: 2em;
    height: 2em;
    padding: 10px;
    font-size: 25px;
  }

  .box-about {
    background-color: black;
    color: white;
    width: 200px;
    height: 66px;
    left: -1%;
    position: relative;
  }

  .box-about p {
    margin: 0;
    position: absolute;
    top: 50%;
    font-size: 30px;
    transform: translate(0, -50%);
    left: 10px;
  }
  .box-about-text {
    position: relative;
    margin-top: 50px;
    display: flex;
    text-align: center;
    padding-left: 75px;
    max-width: 82vw;
  }

  .user_circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    left: 45%;
  }

  .user_circle img {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: scale(2);
  }

  .section-padding {
    padding: 60px;
  }

  .box-user-title {
    position: relative;
    display: flex;
    align-items: left;
  }

  .box-user-title h3 {
    position: relative;
    padding: 10px;
    left: 34%;
  }

  .box-user-desc {
    padding: 10px;
    position: relative;
    display: flex;
    text-align: center;
  }

  .box-user-links {
    position: relative;
    display: flex;
    align-items: center;
  }

  .box-user-links p{
    position: relative;
    left: 36%;
  }

  .vimeo-fullscreen {
    padding:56.25% 0 0 0;
    position:relative;
  }
  .vimeo-iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
  .nextslide {
    display: block;
    position: absolute;
    bottom: 47px;
    left: 38%;
    margin-left: 50%;
    font-size: 24px;
    color: #fff;
    font-weight: normal;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }

  .center-container {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
  }

  
  .span4-gallery {
    width: 330px;
  }

  .profile-gallery {
    padding-bottom: 0px;
  }

  .img-gallery {
    border-radius: 15px;
  }

  .span12-sliders {
    margin-top: -200px;
    width: 1000px;
  }

  .row-sliders {
    margin-left: 420px;
  }

  .container-sliders {
    width: 1400px;
  }

  .container-gallery {
    max-width: 1200px;
    left: 4%;
    position: relative;
  }

  .infos-datasheet{
  margin-inline: 40px;
  margin-top: 30px;
}

.prod-assist-text{
  font-size:20px;
  font-weight: 900;
}
.prod-assist-text a{
  margin-left: 8px;
  font-size:20px;
  font-weight: 700;
}
.prod-assist-text p{
  margin-left:90px;
  margin-bottom:1px;
  font-size:20px;
  font-weight: 700;
}

}

/* --------- iPad Vertical --------- */

@media (min-width: 768px) and (max-width: 1199px) {
  div.arts_expo {
    width: 65%;
    position: relative;
    margin: auto;
  }
  div.figure {
    float: right;
    width: 100%;
    height: 100%;
    /* margin: 0.5em;
    padding: 0.5em; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  /* div.figure audio{
    margin-top: 50vh;
  } */
  img.scaled {
    width: 100%;
    height: 100%;
  }

  .line {
    border-bottom: 2px solid #fff;
  }

  .row-artists {
    margin-left: -19px;
  }

  .user_arts {
    display: flex;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 2px;
  }

  .share_icon {
    display: flex;
    position: relative;
    text-align: left;
    margin: 10px;
    left: 46%;
    width: 2em;
    height: 2em;
    padding: 10px;
    font-size:24px;
  }

  .box-about {
    background-color: black;
    color: white;
    width: 176px;
    height: 57px;
    left: 1.6%;
    position: relative;
  }

  .box-about p {
    margin: 0;
    position: absolute;
    top: 50%;
    font-size: 28px;
    transform: translate(0, -50%);
    left: 10px;
  }
  .box-about-text {
    position: relative;
    margin-top: 50px;
    margin-left: 14px;
    display: flex;
    text-align: center;
    max-width: 90vw;
  }

  .user_circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    left: 45%;
  }

  .user_circle img {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: scale(2);
  }

  .section-padding {
    padding: 60px;
  }

  .box-user-title {
    position: relative;
    display: flex;
    align-items: center;
  }

  .box-user-title h3 {
    position: relative;
    padding: 10px;
    left: 34%;
  }

  .box-user-desc {
    padding: 10px;
    position: relative;
    display: flex;
    text-align: center;
  }

  .box-user-links {
    position: relative;
    display: flex;
    align-items: center;
  }

  .box-user-links p{
    position: relative;
    left: 36%;
  }
  .nextslide {
    display: block;
    position: absolute;
    bottom: 47px;
    left: 32%;
    margin-left: 50%;
    font-size: 24px;
    color: #fff;
    font-weight: normal;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  
  .span12-sliders {
    width: 780px;
    margin-left: 15px;
  }
  .div-gallery-title {
    border-bottom: 3px solid;
    width: 143px;
    left: 2%;
    position: relative;
  }

  .div-datasheet-title {
    border-bottom: 3px solid;
    width: 240px;
  }

  .share_icon_home {
    display: flex;
    position: relative;
    text-align: left;
    margin: 10px;
    left: 90%;
    width: 1.8em;
    height: 1.8em;
    padding: 10px;
    font-size: 24px;
    bottom: 15%;
  }
  .img-gallery {
    border-radius: 15px;
  }

  .infos-datasheet{
    margin-inline: 40px;
    margin-top: 30px;
  }
  
  .prod-assist-text{
    font-size:18px;
  }
  .prod-assist-text a{
    margin-left: 8px;
    font-size:18px;
  }
  .prod-assist-text p{
    margin-left:80px;
    margin-bottom:1px;
    font-size:18px;
  
  }
  #tec-web-expo-text{
    margin-bottom: -28px;
    margin-left:2px;
    font-size:18px;
  }
  .name-web-text{
    font-size: 60px;
    text-shadow: 0px 1px 50px #ffffff52;
  }
  .welcome-text {
    position: relative;
    left:12px;
    top: 86px;
    z-index: 10;
    margin-top: -65px;
  }
}

/* --------- Mobile Phones --------- */
@media (max-width: 767px) {
  div.arts_expo {
    width: 100%;
    position: relative;
    margin: auto;
  }
  div.figure {
    float: right;
    width: 100%;
    height: 100%;
    /* margin: 0.5em;
    padding: 0.5em; */
    text-align: center;
    /* height: 10em; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  /* div.figure audio{
    margin-top: 50vh;
  } */
  img.scaled {
    width: 100%;
    height: auto;
  }

  .line {
    border-bottom: 2px solid #fff;
    display: flex;
    position: relative;
  }

  .row-artists {
    margin-left: -19px;
  }

  .user_arts {
    display: flex;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 2px;
  }

  .share_icon {
    position: relative;
    text-align: left;
    margin: 10px;
    left: 87%;
    width: 2em;
    height: 2em;
    padding: 10px;
    bottom: 145px;
    font-size:23px;
  }

  .span-about{
    margin-top: -80px;
  }

  .box-about {
    background-color: black;
    color: white;
    width: 150px;
    height: 54px;
    left: 1%;
    position: relative;
  }

  .box-about p {
    margin: 0;
    position: absolute;
    top: 50%;
    font-size: 24px;
    transform: translate(0, -50%);
    left: 10px;
  }
  .box-about-text {
    position: relative;
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    text-align: center;
    max-width: 88vw;
  }

  .user_circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    left: 13%;
  }

  .user_circle img {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: scale(2);
  }

  .section-padding {
    padding: 60px;
  }

  .box-user-title {
    position: relative;
    display: flex;
    align-items: center;
  }

  .box-user-title h3 {
    position: relative;
    padding: 10px;
    font-size: 14px;
  }

  .box-user-desc {
    padding: 10px;
    position: relative;
    display: flex;
    text-align: center;
    width: 100%;
  }

  .box-user-links {
    position: relative;
    display: flex;
    align-items: center;
    width: 10px;
  }

  .box-user-links p{
    position: relative;
    display: grid;
    left: 60px;
  }
  .nextslide {
    display: block;
    position: absolute;
    bottom: 47px;
    left: 28%;
    margin-left: 50%;
    font-size: 24px;
    color: #fff;
    font-weight: normal;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  
  .div-gallery-title {
    border-bottom: 3px solid;
    width: 85px;
    left: 3%;
    position: relative;
  }
  .gallery-title {
    color: black;
    font-weight: bold;
    position: relative;
    text-align: center;
    font-size: 31px;
  }

  .div-datasheet-title {
    border-bottom: 3px solid;
    width: 220px;
  }

  .span4-gallery {
    width: 280px;
  }
  .img-gallery {
    border-radius: 15px;
  }
  .share_icon_home {
    display: flex;
    position: relative !important;
    text-align: left;
    margin: 30px 80px 10px 10px;
    /* left: 86% !important; */
    width: 1.6em;
    height: 1.6em;
    padding: 10px;
    font-size: 24px;
    bottom: 20%;
  }
  .span12-sliders {
    width: 780px;
    margin-left: 15px;
  }
  .div-datasheet-title{
    margin-left: 0;
    padding-left: 5px;
  }
  .infos-datasheet{
    margin-inline: 30px;
    margin-top: 30px;
  }
  
  .prod-assist-text{
    font-size:18px;
  }
  .prod-assist-text a{
    margin-left: 8px;
    font-size:18px;
  }
  .prod-assist-text p{
    margin-left:80px;
    margin-bottom:1px;
    font-size:18px;
  
  }
  .name-web{

    width: 100%;
    padding-left: 2px;
  }
  #tec-web-expo-text{
    margin-bottom: -24px;
    margin-left:2px;
    font-size:14px;
  }
  .name-web-text{
    font-size: 50px;
    text-shadow: 0px 1px 45px #ffffff52;
  }
  .welcome-text {
    position: relative;
    left:12px;
    top: 72px;
    z-index: 10;
    margin-top: -65px;
  }
}
/* --------- iPhone Vertical  --------- */
@media (max-width: 479px) {
  div.arts_expo {
    width: 100%;
    position: relative;
    margin: auto;
  }
  div.figure {
    float: right;
    width: 100%;
    height: 100%;
    /* margin: 0.5em;
    padding: 0.5em; */
    text-align: center;
    background-color: black;
  }
  /* div.figure audio{
    margin-top: 50vh;
  } */
  img.scaled {
    width: 100%;
    height: auto;
  }

  .line {
    border-bottom: 2px solid #fff;
    display: flex;
    position: relative;
  }

  .user_arts {
    display: flex;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 2px;
  }

  .share_icon {
    display: flex;
    position: relative;
    text-align: left;
    margin: 10px;
    left: 87%;
    width: 2em;
    height: 2em;
    padding: 10px;
    bottom: 145px;
  }

  .box-about {
    background-color: black;
    color: white;
    width: 150px;
    height: 54px;
    left: 2%;
    position: relative;
  }

  .box-about p {
    margin: 0;
    position: absolute;
    top: 50%;
    font-size: 24px;
    transform: translate(0, -50%);
    left: 10px;
  }
  .box-about-text {
    position: relative;
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    text-align: center;
    max-width: 88vw;

  }

  .user_circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    left: 13%;
  }

  .user_circle img {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: scale(2);
  }

  .section-padding {
    padding: 60px;
  }

  .box-user-title {
    position: relative;
    display: flex;
    align-items: center;
  }

  .box-user-title h3 {
    position: relative;
    font-size: 14px;
  }

  .box-user-desc {
    padding: 10px;
    position: relative;
    display: flex;
    text-align: center;
    width: 100%;
  }

  .box-user-links {
    position: relative;
    display: flex;
    align-items: center;
    width: 10px;
  }

  .box-user-links p{
    position: relative;
    display: grid;
    left: 60px;
  }
  .nextslide {
    display: block;
    position: absolute;
    bottom: 47px;
    left: 28%;
    margin-left: 48%;
    font-size: 13px;
    color: #fff;
    font-weight: normal;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }

  .img-gallery {
    border-radius: 15px;
  }
 
  .span4-gallery {
    width: 280px;
}
.title-web{
  font-size: 16px;
}
.name-web{

  width: 100%;
  padding-left: 2px;
}
#tec-web-expo-text{
  margin-bottom: -24px;
  margin-left:1px;
  font-size:12px;
}
.name-web-text{
  font-size: 40px;
  text-shadow: 0px 1px 35px #ffffff52;
}
.welcome-text {
  position: relative;
  left:12px;
  top: 52px;
  z-index: 10;
  margin-top: -65px;
  width: 85%;
}
}

@media only screen and (max-width: 700px) {
  .nextslide {
    display: block;
    position: absolute;
    bottom: 47px;
    left: 28%;
    margin-left: 48%;
    font-size: 13px;
    color: #fff;
    font-weight: normal;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  
.row-artists {
  margin-left: -19px;
}

}
  @media only screen and (max-width: 400px) {
    .nextslide {
      display: block;
      position: absolute;
      bottom: 47px;
      left: 28%;
      margin-left: 48%;
      font-size: 13px;
      color: #fff;
      font-weight: normal;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      transition: all 0.1s linear;
  }
  
.row-artists {
  margin-left: -19px;
}
  .flexslider {
    bottom: -10px;
  }
}
  /* --------- gallaxy S9  --------- */
  @media only screen and (max-width: 370px) {
    .nextslide {
      display: block;
      position: absolute;
      bottom: 47px;
      left: 28%;
      margin-left: 48%;
      font-size: 13px;
      color: #fff;
      font-weight: normal;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      transition: all 0.1s linear;
  }
  .row-artists {
    margin-left: -19px;
  }
  
}
@media only screen and (max-width: 812px) {
  .span12-sliders {
    width: 780px;
    margin-left: 30px;
}
.row-artists {
  margin-left: -19px;
}
}
@media only screen and (max-width: 736px) {
  .span12-sliders {
    width: 780px;
    margin-left: 15px;
}

.row-artists {
  margin: 0;
}
}
@media only screen and (device-width : 375px) and (device-height : 812px) { 
  .span12-sliders {
    width: 393px;
    margin-left: 0px;
}
.row-artists {
  margin-left: -19px;
}
}

@media only screen and (device-width : 360px) and (device-height : 740px) { 
  .span12-sliders {
    width: 700px;
    margin-left: 15px;
}
.container-sliders {
  width: 360px;
}

.row-artists {
  margin-left: -19px;
}


}
@media only screen and (device-width : 768px) and (device-height : 1024px) {
  .span12-sliders {
    width: 780px;
    margin-left: 15px;
}
.row-artists {
  margin-left: -19px;
}
 }