@media (max-width: 768px) {
    #navlogo {
        position: relative;
        left: -257px;
    }
}

@media (max-width:479px) {
    #navlogo {
        position: relative;
        left: -60px;
    }
}

.align-menu {
    text-align: center;
}

.bg-nav {
    background-color: #ffffff;
}

#navFluid {
    position: fixed;
    background-color: white;
    z-index: 100;
    height: auto;
}

.spaceMenu {
    width: 14vw;
    height: 10px;
}

.nav-item {
    padding: 2px;
    margin-inline: 6px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.nav-link {
    color: #000;
    font-weight: 700;
    ;
}

.nav-link:hover {
    border-bottom: 2px solid #000;
    padding-bottom: 6px;
}

.nav-link:focus {
    border-bottom: 2px solid #000;
    padding-bottom: 6px;
    outline: none;
}

@media(max-width:991px) {
    .spaceMenu {
        width: 150vw;
        height: 0;
    }
}