.carousel-indicators{
    bottom: 20% !important;
}

.carousel-indicators li{
    height: 14px !important;
    width: 14px !important;
    border-radius: 50% !important;
    background: none !important;
    border: 2px solid #000;
    margin: 0 8px 0 8px !important;
}
.carousel-indicators li.active{
    background: #000 !important;
}

.slideImg{
    border-radius: 14px !important;
}

@media (min-width: 1199px) {
    #slideBoot {
       width: 800px;
       height: 379px;
       position: relative;
       left: 142px;
       top: -70px;
    }
}


@media (max-width: 993px) {
    .carousel-indicators li{
        height: 11px !important;
        width: 11px !important;
    }
    .slideImg{
        border-radius: 4px !important;
    }
    #slideBoot{
        margin-top: 30px;
    }
}

@media (max-width: 767px){
    .span-sobre-home{
        margin-top: 50px;
    }
}