.box-text-slide{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 60%;
    position: relative;
    left: 38%;
    top: -120px;
    z-index: 10;
}

.titulo-slide{
    font-family: Lato, sans-serif;
    color: #fff;
    text-align: right;
    text-align-last: right;
    font-size:40px;
    font-weight:700;
    transition: 300ms;
    text-shadow: 0px 1px 20px #4b4b4b;
}
.titulo-slide:hover{
    color: rgb(255, 230, 2);
    text-decoration: none;
}
.autor-slide{
    font-family: Lato, sans-serif;
    color: #fff;
    text-align: right;
    text-align-last: right;
    font-size: 24px;
    text-shadow: 0px 1px 12px #4b4b4b;
}

@media (min-width: 993px) and (max-width: 1199px) {
    .box-text-slide{
        top: -120px;
    }

    .titulo-slide{
        font-size:32px;
        text-shadow: 0px 1px 16px #4b4b4b;

    }
    .autor-slide{
        font-size: 22px;
        text-shadow: 0px 1px 11px #4b4b4b;

    }

}

@media (min-width: 769px) and (max-width: 992px) {
    .box-text-slide{
        top: -110px;
    }

    .titulo-slide{
        font-size:32px;
        text-shadow: 0px 1px 16px #4b4b4b;

    }
    .autor-slide{
        font-size: 22px;
        text-shadow: 0px 1px 11px #4b4b4b;

    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .box-text-slide{
        top: -100px;
    }

    .titulo-slide{
        font-size:26px;
        text-shadow: 0px 1px 13px #4b4b4b;

    }
    .autor-slide{
        font-size: 18px;
        text-shadow: 0px 1px 9px #4b4b4b;

    }
}

@media (max-width: 480px) {
    .box-text-slide{
        top: -70px;
    }

    .titulo-slide{
        font-size:20px;
        text-shadow: 0px 1px 10px #4b4b4b;

    }
    .autor-slide{
        font-size: 14px;
        text-shadow: 0px 1px 7px #4b4b4b;

    }
}
